@use './components/animations';

.hero{
    padding: 5.6vw;
    min-height: 100vh;
    background-image: url(../images/mensagens-para-aniversario-de-funcionario-3.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Sometype Mono', monospace;
    

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 105vh;
        background-color: #313030;
        content: '';
        opacity: .3;
    }

    &__itens , h1, h3, p{
        display: flex;
        flex-direction: column;
        text-align: center;

        @media(max-width: 640px){
            padding-top: 30px;
        }
        &__button{
            margin-top: 44vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            gap: 15px;
            background-color: transparent;
            cursor:auto;
            text-align: center;

        @media(max-width: 640px){
            margin-top: 25vh;;
        }
        @media (min-height:768px) and (max-width:1024px){
            padding-top: 15vw ;
            font-size: 2vh;
        }
        }
    }
    &__title, &__subtitle, &__text{
        overflow: hidden;
        height: 1.3em;
        padding-bottom: 40px;
    }
    
    .container{
        position: relative;
    }
    @media (max-width:640px){
        background-size: cover;
        background-position: right 30% bottom ;
        align-items: center;
    }
    @media (min-height:768px) and (max-width:1024px){
        background-size: cover;
        background-position: right 35% bottom;
        font-size: 1.7vh;
        padding-top: 10em;
    }
    
}


#more-arrows {
    width: 75px;
    height: 65px;
    cursor: pointer;
    @media (min-height:768px) and (max-width:1024px){
        width: 100px;
        height: 90px;
    }

    &:hover {
    
        polygon {
            fill: #FFF;
            transition: all .2s ease-out;

        &.arrow-bottom {
            transform: translateY(-18px);
        }

        &.arrow-top {
            transform: translateY(18px);
        }
        }
}
}

polygon {
    fill: #FFF;
    transition: all .2s ease-out;
    
        &.arrow-middle {
            opacity: 0.75;
        }

        &.arrow-top {
            opacity: 0.5
        }
}
